*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background{
    background-image: url(./PqxKXg-1280.jpg);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.26);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}   

#parrafo_container{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 700px;
}

#prestamoCliente, #montoMensual, #interesesCuota, #interesesTotales, #cuotasTotales, #edadCliente, #nombreCliente{
    font-size: 25px;
    text-align: left;
    font-family: 'Prompt', sans-serif;
    color: rgb(220, 220, 220);
    text-shadow: 2px 2px 2px black;
    padding: 15px;
}   

.__header-flex{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.__nav-flex{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header{
    background-color: #0313bdab;
    padding: 25px;
    width: 100%;
}

header nav ul {
    margin-top: 20px;
    padding-left: 0;
}

header nav ul li a {
    font-size: 20px;
    color: rgb(220, 220, 220);
    font-family: 'Prompt', sans-serif;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
}

header img{
    width: 70px;
    filter: invert(100%);
}

main form{
    text-align: center;
}


.tituloFlex{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
}

.tituloFlex .info{
    background-color: rgba(207, 207, 207, 0.899);
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 20px;
    max-width: 550px;
    box-shadow: 2px 2px 50px black; 
}

.tituloFlex .info p{
    color: rgb(0, 0, 0);
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
}

.requisitosContainer{
    text-align: left;
    background-color: rgba(207, 207, 207, 0.896);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    margin: 10px;
    max-width: 550px;
    box-shadow: 2px 2px 50px black;
}

.requisitosContainer .flex-parrafo .icon-arrow{
    width: 25px;
    padding-bottom: 15px;
}

.requisitosContainer .flex-parrafo{
    display: flex;
    justify-content: flex-start;
}

.requisitosContainer h6{
    font-size: 30px;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 2px 1px 2px black;
}

.requisitosContainer .flex-parrafo .requisitos_parrafo{
    padding: 10px;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
}

.conseguiCredito{
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.conseguiCredito h1{
    font-size: 70px;
    color: rgb(24, 24, 24);
}

.conseguiCredito h2{
    color: rgb(24, 24, 24);
    font-weight: 500;
}

.conseguiCredito h3{
    color: rgb(24, 24, 24);
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}

.conseguiCredito h1, h2, h3{
    text-align: left;
}

.main-container{
    max-width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #0e5068;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main button{
    background-color: #3a52a0;
    color: white;
    padding: 10px 20px 10px 20px;
    width: 450px;
    margin: 0 auto;
}

.flex-main-form{
    display: flex;
    flex-direction: row;
    padding-top: 150px;
}

@media screen and (max-width: 500px) {
 
    .conseguiCredito h1{
        font-size: 40px;
        padding-top: 20px;
        text-align: center;
    }
    .conseguiCredito h2{
        font-size: 28px;
        padding-top: 20px;
        text-align: center;
    }

    .conseguiCredito h3{
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
    }

    #datosIngresados{
        padding: 0;
    }

    #datosIngresados h2{
        text-align: center;
        font-size: 25px;
        padding: 10px;
    }
    
    #datosIngresados p{
        text-align: left;
        font-size: 18px;
        font-weight: 500;
        padding: 4px;
        letter-spacing: 3px;
    }

}


/*NUEVO*/

#formulario{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: auto;
    background: linear-gradient(90deg, #1600d8be, #0b8893da);
    border-radius: 15px;
    margin-top: 70px;
    padding: 7px;
}

.formularioFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2px;
    padding: 15px;
    text-align: left;
}

.formularioFlex label{
    color: white;
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
}

.formularioFlex input, select{
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.753);
}




#formulario button{
    margin: 10px;
}

.datosIngresados{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
    background: linear-gradient(90deg, #360033c4, #0b8893c9);
    border-radius: 15px;
    max-width: 500px;
}

.datosIngresados h2{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    background-color: #000000b2;
}

.datosIngresados p{
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    letter-spacing: 3px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form p{
    color: white;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}


#dataBank{
    text-align: center;
    height: 500px;
    overflow-y: scroll;
    background-color: rgba(253, 253, 253, 0.486);
    margin: 25px;
    padding: 25px3;
}

#dataBank h2{
    text-align: center;
    background-color: #0313bdab;
    padding: 25px;
    color: white;
}