*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background{
    background-image: url(https://imagenes.elpais.com/resizer/4oLrYXOG4cD5TI-Lr7-TveA_Fgo=/980x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/42E5UMZFJ5AVPCP3RWNIDZJZTA.jpg);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.295);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}   

#parrafo_container{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 700px;
}

#prestamoCliente, #montoMensual, #interesesCuota, #interesesTotales, #cuotasTotales, #edadCliente, #nombreCliente{
    font-size: 25px;
    text-align: left;
    font-family: 'Prompt', sans-serif;
    color: rgb(220, 220, 220);
    text-shadow: 2px 2px 2px black;
    padding: 15px;
}   

.__header-flex{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.__nav-flex{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header{
    background-color: #0e5068c9;
    padding: 10px;
    width: 100%;
}

header nav ul {
    margin-top: 20px;
    padding-left: 0;
}

header nav ul li a {
    font-size: 20px;
    color: rgb(220, 220, 220);
    font-family: 'Prompt', sans-serif;
    text-decoration: none;

    padding: 5px 20px 5px 20px;
}

header img{
    width: 70px;
    filter: invert(100%);
}

main form{
    text-align: center;
}


h1, h2{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 35px;
    color: rgb(220, 220, 220);
    text-shadow: 2px 2px 2px black;
}

.tituloFlex{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
}

.requisitosContainer{
    text-align: left;
    background-color: rgba(207, 207, 207, 0.596);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    margin: 10px;
    max-width: 550px;
    height: 400px;
}

.requisitosContainer .flex-parrafo .icon-arrow{
    width: 25px;
}

.requisitosContainer .flex-parrafo{
    display: flex;
    justify-content: flex-start;
}

.requisitosContainer h6{
    font-size: 30px;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 2px 1px 2px black;
}

.requisitosContainer .flex-parrafo .requisitos_parrafo{
    padding: 10px;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
}

.conseguiCredito{
    padding: 25px;
    border-radius: 20px;
    max-width: 600px;
    height: 300px;
}

.conseguiCredito h1{
    font-size: 55px;
}

.conseguiCredito h2{
    color: rgb(243, 243, 243);
    font-weight: 500;
}

.conseguiCredito h3{
    color: rgb(238, 238, 238);
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: 400;
}

.conseguiCredito h1, h2, h3{
    text-align: left;
}

.main-container{
    max-width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #0e5068;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main button{
    background-color: #3a52a0;
    color: white;
    padding: 10px 20px 10px 20px;
    width: 450px;
    margin: 0 auto;
}

.flex-main-form{
    display: flex;
    flex-direction: row;
    padding-top: 150px;
}

#miFormulario label{
    font-size: 18px;
    color: white;
    text-align: left;
    padding-bottom: 10px;
}


@media screen and (max-width: 500px) {
 
    .conseguiCredito h1{
        font-size: 50px;
        padding-top: 20px;
    }

}


/*NUEVO*/

#formulario{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 750px;
    background: linear-gradient(45deg,#0e5068, #0376a0);
    border-radius: 15px;
    position: relative;
    top: 20px;
    padding: 7px;
}

.formularioFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2px;
    padding: 15px;
    text-align: left;
}

.formularioFlex input, select{
    padding: 7px;
}

.formularioFlex label{
    color: white;
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
}

#formulario button{
    margin-top: 10px;
}

.datosIngresados{
    margin-top: 40px;
    padding: 50px;
    background-color: #0e5068c9;
}

.datosIngresados p{
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.308);

}

.datosIngresados h2{
    text-align: center;
    font-size: 35px;
    background-color: #3a52a0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form p{
    color: white;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}

.parrafoinner{
    color: white;
    background-color: blue;
}

